*{
    margin: 0px;
   
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}
.head{font-size: x-large;
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.head1{
    margin-top: 20px;
}
.container{
    
    padding: 10Px;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
   

}
td,th{
    padding: 15px;
}
.btn{
    width: 100%;
   display: flex;
   justify-content: center;
   
   
}
.add{
    /* position: absolute;
   left: 60%; */
   margin-left: 350px;
    padding:5px;
    background-color:rgb(30,144,255); 
    border-radius: 10Px;
}
.remove{
    margin-left: 20px;
    padding:5px;
    background-color:rgb(30,144,255); 
    border-radius: 10Px;
}
.result{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}
#res{
    margin: 10px 0;
}
.result button{
    background-color: #30fe30;
    border-radius: 10px;
    padding: 10px 15px;
}
@media (max-width:500px){
    th h1{
        font-size: 25px;
    }
    .add{
        margin: 0 !important;
        height: 29px;
    }
    .remove{
        height:29px;
        margin: 30px;
    }
    .head h1{
        font-size: 30px;
    }
}
.contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}
.main{
    padding: 10px;
    /* margin:20px 10px; */
    margin: 10px;
    display: flex;
   
}
.align1{
    margin-left: 20px;
}
.align{
    margin-left:40px;
}
.btn1{
    width: 100%;
   display: flex;
   justify-content: center;
    align-items: center;
}
.ad{
    margin-left: 350px;
    padding:5px;
    background-color:rgb(30,144,255); 
    border-radius: 10Px;
}
.rem{
    margin-left: 20px;
    padding:5px;
    background-color:rgb(30,144,255); 
    border-radius: 10Px;
}
.res{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}
#re{
    margin: 10px 0;
}
.res button{
    background-color: #30fe30;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 100px;
}
